nav#topNarbar.navbar.navbar-expand-lg.navbar-light.p-0
      .container
        img(src="./assets/images/CombinedShape.png", alt="logo")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
          .my-2.my-lg-0
            ul.navbar-nav.mr-auto.align-items-center
              li.nav-item.active
                a.nav-link.p-0(href='#')
                  | Phone 
              li.nav-item
                a.nav-link.p-0(href='#')
                  | TV 
              li.nav-item
                a.nav-link.p-0(href='#')
                  | About VSmart
              li.nav-item
                a.nav-link.p-0(href='#')
                  | Support 
              li.nav-item
                a.nav-link.p-0(href='#')
                  | Where to buy
              li.nav-item 
                i.fas.fa-search
section#top-Preorder
      .container
        .top-Preorder.d-flex.justify-content-lg-between.align-items-center
          .top-Preorder__left
            p.top-Preorder__left-title.m-0 VSmart Active 3
              i.fas.fa-chevron-down.ml-2
          .top-Preorder__right.d-flex.justify-content-lg-between.align-items-center
            p.m-0 Overview
            p.m-0 Specs
            button.btn.btn-danger Pre-order